@import "../global-styles/base";
@import "../global-styles/vars";
@import "../global-styles/btn";
.register-card {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    h1 {
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        
        text-align: center;
    }

    .sub-title {
        text-align: center;
        margin-top: 20px;
    }
   

    .form-group {
        margin-bottom: 20px;

        label {
            margin-bottom: 10px;
            font-size: 14px;
        }
        input {
            width: 380px;
            padding: 5px 0 5px 14px;
            border: 1px solid #d5d5d9;

            &:hover,
            &:focus,
            &:active {
                outline: none
            }
        }
    }
}