<div class="staus-update-container">
    <div class="status-update-card">
        <div class="card-title">
            <h2>whats on your mind</h2>
        </div>
        <div class="card-body">
            <form action="" class="status-update-form">
                <textarea class="status-update-text"></textarea>
                <div class="btn-group">
                    <button class="btn btn-danger-rounded">reset</button>
                    <button class="btn btn-primary-rounded">post</button>
                </div>
            </form>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
