:root {
    --clr-alert-success-bg: #dff0d8;
    --clr-alert-success-border: #d6d9c6;
    --clr-alert-success-text: #3c763d;

    --clr-alert-error-bg: #f2dede;
    --clr-alert-error-border: #ebccd1;
    --clr-alert-error-text: #a94442;

    --clr-alert-warning-bg: #fcf8e3;
    --clr-alert-warning-border: #faebcc;
    --clr-alert-warning-text: #8a6d3b;

    --clr-alert-info-bg: #d9edf7;
    --clr-alert-info-border: #bce8f1;
    --clr-alert-info-text: #31708f;
}

input {
    border: none
}