<section class="about">
    <div class="container">
        <div class="row">
            <div class="section-name-badge">about us</div>
            <h1 class="page-title">about us</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque tempora quidem sunt?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolorum provident ducimus accusamus at sint tenetur tempore temporibus? Quaerat quisquam fuga id. Illum dolorem nisi eum praesentium, suscipit consequuntur similique? Rerum quibusdam sit natus quod architecto quos velit, voluptate saepe eveniet eligendi recusandae ipsa atque assumenda tempore impedit minus necessitatibus.</p>
            <p>Autem doloribus, in optio nisi sed velit quidem architecto iste nemo provident ex illo iusto rerum perspiciatis totam inventore vel quae, enim numquam modi id dolorum dignissimos deleniti. Illo dolore incidunt dolor. Eius quae facere sed nulla mollitia eligendi eaque sit optio omnis dolore. Expedita rem eligendi omnis impedit praesentium?</p>
        </div>
    </div>
</section>